{% extends './layout.html.j2' %}

{% block title %}About{% endblock title %}

{% block content %}
    <h1>About</h1>
    <p>Fake Craigslist is a fake place for fake people to list fake cars.</p>
    <p>Like "Who's Line Is It Anyways?" where the rules are made up and the points don't matter.</p>
{% endblock content %}