{% extends './layout.html.j2' %}

{% block title %}About meglist{% endblock title %}

{% block content %}
    <h1>Our Fake Mission</h1>
    <br>
    <p>megslist is a fake place for fake people to list fake cars.</p>
    <p>Like "Who's Line Is It Anyways?" where the rules are made up and the points don't matter.</p>
{% endblock content %}