{% extends './layout.html.j2' %}

{% block title %}Blog{% endblock title %}

{% block content %}
    <h1>Blog</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates nulla unde cupiditate ratione quidem reiciendis veritatis officia temporibus voluptate. Quia accusantium nesciunt id voluptate esse, hic asperiores eos laborum nobis itaque eveniet, dolorum error nemo laboriosam repudiandae animi corrupti doloribus incidunt consectetur ipsa nam molestiae dolor. Nostrum voluptatibus accusantium deserunt.</p>
{% endblock content %}