{% extends './layout.html.j2' %}

{% block title %}Blog{% endblock title %}

{% block content %}
    <h1>Blog</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, minus!</p>
{% endblock content %}