{% extends './layout.html.j2' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Welcome to Fake Craigslist!</h1>
    <br>
    <p>View/make a listing: <a href="{{ url_for('api.cars') }}">CLICK HERE</a></p>
    <p>Need to sign up for an account? <a href="{{ url_for('auth.register') }}">CLICK HERE</a></p>
{% endblock content %}