{% extends './layout.html.j2' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <h1>Login</h1>
    <p>Log into your account here to manage your account and start posting listings!</p>
    <p>Don't have an account yet? No problem, you can register for free HERE!</p>
{% endblock content %}