{% extends './layout.html.j2' %}

{% block title %}Cars{% endblock title %}

{% block content %}
<h1>List Your Car</h1>
<br>
<form action="{{ url_for('blog.list_car') }}" method="POST">
    <div class="mb-3">
        <label for="inputMake" class="form-label">Make</label>
        <input type="text" class="form-control" id="inputMake" name="inputMake">
    </div>
    <div class="mb-3">
        <label for="inputModel" class="form-label">Model</label>
        <input type="text" class="form-control" id="inputModel" name="inputModel">
    </div>
    <div class="mb-3">
        <label for="inputYear" class="form-label">Year</label>
        <input type="text" class="form-control" id="inputYear" name="inputYear">
    </div>
    <div class="mb-3">
        <label for="inputColor" class="form-label">Color</label>
        <input type="text" class="form-control" id="inputColor" name="inputColor">
    </div>
    <div class="mb-3">
        <label for="inputPrice" class="form-label">Price</label>
        <input type="text" class="form-control" id="inputPrice" name="inputPrice">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}