{% extends './layout.html.j2' %}

{% block title %}Your Listed Car(s){% endblock title %}

{% block content %}
<h1>Your Listed Car(s)</h1>
<br>
    {% for car in cars %}
        {# {{ car.owner.username }} has {{ car.owner.cars | length }} cars listed. #}
        <h3>{{ car.year }} {{ car.make }} {{ car.model }}</h3>
        <h5>Listing ID # {{ car.id }}</h5>
        <div class="px-5">
            <p>Color: {{ car.color.title() }}</p>
            <p>Price: {{ car.price }}</p>
            <p>Date Entered: {{ car.date_created }}</p>
            <p>Seller: {{ car.owner.username }} ({{ car.owner.first_name }} {{ car.owner.last_name }})</p>
            <a href="">{{ car.owner.email }}</a>
        </div>
        <br><br>
    {% endfor %}
{% endblock content %}